<div class="card w-[25rem] rounded-3xl bg-semi-dark-blue p-8">
  <h1 class="font-outfit font-light text-white text-3xl mb-5">Sign Up</h1>
  <app-input
    [activeFocus]="true"
    [placeholder]="'Email address'"
    [control]="form.get('email')"
  ></app-input>
  <app-input
    [activeFocus]="true"
    [placeholder]="'Password'"
    [control]="form.get('password')"
  ></app-input>
  <app-input
    [activeFocus]="true"
    [placeholder]="'Repeat password'"
    [control]="form.get('repeatPassword')"
  ></app-input>
  <app-button [titleButton]="'Create an account'"></app-button>
  <div class="sign-up-content flex justify-center items-baseline gap-3 mt-6">
    <small class="font-outfit font-light text-white text-base"
      >Already have an account?</small
    >
    <a class="font-outfit font-light text-red text-base" routerLink="/"
      >Login</a
    >
  </div>
</div>
