<div class="container mx-auto">
  <div class="flex flex-col items-center">
    <figure class="icon-movie py-12">
      <img src="../../../assets/logo.svg" alt="icon movie" />
    </figure>
    <form
      class="card w-[25rem] rounded-3xl bg-semi-dark-blue p-8"
      [formGroup]="form"
    >
      <h1 class="font-outfit font-light text-white text-3xl mb-5">Login</h1>
      <app-input
        [activeFocus]="true"
        [placeholder]="'Email address'"
        [control]="form.get('email')"
        [type]="'text'"
      ></app-input>
      <app-input
        [activeFocus]="true"
        [placeholder]="'Password'"
        [control]="form.get('password')"
        [type]="'password'"
      ></app-input>
      <app-button
        [title]="'Login to your account'"
        (click)="authenticateUser()"
        [disabledButton]="form.invalid"
      ></app-button>
      <div
        class="sign-up-content flex justify-center items-baseline gap-3 mt-6"
      >
        <small class="font-outfit font-light text-white text-base"
          >Don’t have an account?</small
        >
        <a
          class="font-outfit font-light text-red text-base"
          routerLink="/signup"
          >Sign Up</a
        >
      </div>
    </form>
  </div>
</div>
