
<main class="main flex items-start gap-6 mx-6">
  <app-sidebar></app-sidebar>
  <section class="flex flex-col w-full">
    <div class="flex items-center gap-2 mt-7 w-full">
      <img class="object-contain" src="../../../assets/icon-search.svg" alt="search">
      <app-input class="w-full" [type] = "'text'" [placeholder] = "'Search for movies or TV series'" [control] = "form.get('email')" [className]="'text-3xl placeholder:text-3xl w-full'"></app-input>
      <app-input class="w-full" [type] = "'text'" [placeholder] = "'Search for movies or TV series'" [control]="form.get('email')" [className]="'text-3xl placeholder:text-3xl w-full'"></app-input>
    </div>
    <div class="container">
      <h1 class="mt-8 mb-6 font-light text-white text-3xl">Trending</h1>
      <app-carousel></app-carousel>
    </div>
  </section>
</main>
