
<main class="main flex items-start gap-6">
  <aside class="navigation m-6">
    <nav class="navbar-nav flex flex-col items-center rounded-2xl p-6">
      <img class="w-8" src="../../../assets/logo.svg" alt="Logo">

      <ul class="list-nav flex flex-col justiy-center gap-12 mt-20">
        <li class="nav-item"><img src="../../../assets/icon-nav-home.svg" alt="Home"></li>
        <li class="nav-item"><img src="../../../assets/icon-nav-movies.svg" alt="Movies"></li>
        <li class="nav-item"><img src="../../../assets/icon-nav-tv-series.svg" alt="TV Series"></li>
        <li class="nav-item"><img src="../../../assets/icon-nav-bookmark.svg" alt="Bookmark"></li>
      </ul>

      <div class="content-profile border-2 border-white rounded-full w-10 h-10 mt-auto">
        <img class="w-full" src="../../../assets/image-avatar.png" alt="Avatar">
      </div>
    </nav>
  </aside>
  <section class="flex flex-col w-full">
    <div class="flex items-center gap-2 mt-7">
      <img class="object-contain" src="../../../assets/icon-search.svg" alt="search">
      <app-input [type] = "'text'" [placeholder] = "'Search for movies or TV series'" [control] = "form.get('email')"></app-input>
    </div>
    <div class="container">
      <h1 class="mt-8 mb-6 font-light text-white text-3xl">Trending</h1>
      <app-carousel></app-carousel>
    </div>
  </section>
</main>
